<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="state">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


<table class="table">
    <tr>
        <th>Nombre Projecto</th>
        <th>Descripcion</th>
        <th>Fecha inicio</th>
        <th>Fecha termino</th>
        <th>Estado</th>
    </tr>

    <% @project.each do |project| %>
        <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.start %></td>
            <td><%= project.end %></td>
            <td><%= project.state %></td>
        </tr>
    <% end %>
</table>
